<!-- Modal content-->
<div class="modal-content">
    <!-- <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      
    </div> -->
    <div class="modal-body">
        <h3 class="text-center">are you sure you want to add a new job?</h3>
      <!-- <p>are you sure you want to add a new job?</p> -->
      <div class="row justify-content-md-center">
          <div class="col-md-auto">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="background: gray;width: 100px;">CANCEL</button>
          </div>
          <div class="col-md-auto">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="/*! padding: 10px; *//*! padding-left: 10px; */background: #3eb0ca;width: 200px;">YES, CONTINUE</button>
          </div>
        </div>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">yes</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">no</button> -->
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div> -->
  </div>
  
</div>                  
</form>
</div>
</div>
</form>
<!-- Jumbotron -->

<!-- Footer -->
<!-- Just an image -->
<nav class="navbar navbar-light greynav p-3" style="height: 150px">
<h1>Footer</h1>
</nav>
<!-- Footer -->
